{{#extend "layout"}}
{{#content "main"}}
<section class="intro">
  <div class="intro__overlay"></div>
  <div class="container">
    <div class="intro__upper">
      <span class="intro__upper-place">МОСКВА, МТС Live Холл</span>
      <time datetime="20025-10-20" class="intro__upper-date">15-16 октября <span class="orange">2025</span></time>
    </div>
    <div class="intro__center">
      <ul class="intro__center-tags">
        <li class="intro__center-tags-item">#Telegram Ads</li>
        <li class="intro__center-tags-item">#Нативная реклама</li>
        <li class="intro__center-tags-item">#Продажи</li>
        <li class="intro__center-tags-item">#Web3 на Ton</li>
        <li class="intro__center-tags-item">#Мини-приложения</li>
      </ul>
      <div class="intro__center-title-wrapper">
        <h1 class="intro__center-title">
          крупнейшая конференция
          по&nbsp;трафику и&nbsp;продажам
          в&nbsp;Telegram
        </h1>
        <div class="intro__center-people-list">
          <button type="button" data-video="./assets/video/video_one.mp4" data-fancyspeaker data-src="#speaker-video"
            class="intro__center-people-item">
            <img src="./assets/images/speakers/artem_lebedev.png" alt="person" />
          </button>
          <button type="button" data-video="./assets/video/video_two.mp4" data-fancyspeaker data-src="#speaker-video"
            class="intro__center-people-item">
            <img src="./assets/images/speaker-two.png" alt="person" />
          </button>
          <button type="button" data-video="./assets/video/video_three.mp4" data-fancyspeaker data-src="#speaker-video"
            class="intro__center-people-item">
            <img src="./assets/images/speaker-one.png" alt="person" />
          </button>
          <li class="intro__center-people-item">
            <span>70+</span>
          </li>
        </div>
      </div>
      <div class="button-container">
        <a href="#to-tickets" class="intro__center-buy-ticket">
          <svg>
            <use xlink:href="#stars"></use>
          </svg>
          Приобрести билет
        </a>
        <a href="https://t.me/+_kn482W3MFUzMGYy" target="_blank" class="intro__center-buy-ticket blue-ticket">
          <svg>
            <use xlink:href="#telegram-icon"></use>
          </svg>
          Подписаться на Tg-канал
        </a>
      </div>
    </div>
    <div class="intro__bottom">
      <ul class="intro__bottom-info-list">
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">4000+</span>
          <span class="intro__bottom-info-item-text">участников</span>
        </li>
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">70+</span>
          <span class="intro__bottom-info-item-text">спикеров</span>
        </li>
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">100+</span>
          <span class="intro__bottom-info-item-text">компаний</span>
        </li>
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">Afterparty</span>
          <span class="intro__bottom-info-item-text">для VIP</span>
        </li>
      </ul>
    </div>
  </div>
  <img src="./assets/images/figure-one.png" alt="figure-one" class="intro__figure">
</section>

<section class="about">
  <img class="about__figure" src="./assets/images/figure-two.png" alt="figure-two">
  <div class="container">
    <h2 class="about__title">
      О конференции
    </h2>
    <p class="about__text">
      Для тех, кто хочет использовать возможности Telegram на&nbsp;максимум для своего бизнеса и&nbsp;не&nbsp;только
    </p>
    <ul class="about__list-tags">
      <li class="about__list-tag-item">
        Предприниматели
      </li>
      <li class="about__list-tag-item">
        Таргетологи
      </li>
      <li class="about__list-tag-item">
        Арбитражники
      </li>
      <li class="about__list-tag-item">
        Маркетологи
      </li>
      <li class="about__list-tag-item">
        Криптаны
      </li>
      <li class="about__list-tag-item">
        СМО
      </li>
      <li class="about__list-tag-item">
        Инфобизнесмены
      </li>
    </ul>
  </div>
</section>

<section class="speakers" id="speakers">
  <div class="container">
    <div class="speakers__header">
      <h2 class="speakers__title">
        спикеры
      </h2>
      <p class="speakers__text">
        Спикеры конференции&nbsp;&mdash; это практикующие специалисты,
        основатели проектов и&nbsp;лидеры мнений, чей профессионализм
        подтверждён программным комитетом TgConf.
      </p>
    </div>
    <div class="speakers__slider">
      <div class="speakers__cards">

        {{#each speakers}}
        <button type="button" data-fancybox data-src="#{{this.id}}"
          class="speakers__card {{replace this.id 'speaker-' ''}}">
          <div class="speakers__card-main{{#if this.color}} {{this.color}}{{/if}}">
            <img loading="lazy" src="{{this.image}}" alt="{{this.name}}" class="speakers__card-img" />
            {{#if this.logos}}
            <div class="speakers__logos">
              <div class="speakers__logo-wrapper
                {{#if this.wideLogo}}speakers__logo-wrapper--wide{{/if}}
                {{#if this.ultraWideLogo}}speakers__logo-wrapper--ultra-wide{{/if}}
                {{#if this.highLogo}}speakers__logo-wrapper--high{{/if}}
                ">
                {{#each this.logos}}
                <div class="speakers__logo {{ this.src }}" style="background-image: url({{ this.src }});"
                  title="{{this.alt}}"></div>
                {{/each}}
              </div>
            </div>
            {{/if}}
          </div>
          <span class="speakers__card__name">
            {{splitFirstName this.name}} <br> {{splitLastName this.name}}
          </span>
          <div class="speakers__content-wrapper">
            <p class="speakers__card__description">
              {{this.position}}
            </p>
            <div class="speakers__open-modal-button"></div>
          </div>
        </button>
        {{/each}}
      </div>
    </div>
    <div class="speakers__pagination"></div>
  </div>
</section>

<section class="schedule" id="schedule">
  <div class="container">
    <h2 class="schedule__title">
      Расписание
    </h2>
    <div class="schedule__content">
      <div class="double schedule__dates">
        <div class="blue-ticket left-ticket active">
          15 октября, среда
        </div>
        <div class="blue-ticket right-ticket">
          16 октября, четверг
        </div>
      </div>
      <div class="double mb-none">
        <span class="double__title">Главная сцена</span>
        <span class="double__title">Малая сцена</span>
      </div>
      <div class="schedule__lists">
        {{!-- 15-е октября --}}
        <div class="schedule__list left-list">
          <div>
            <div class="double">
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>10:05</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/kristosenko.png" alt="person" />
                    </div>
                    <span>Михаил Христосенко</span>
                  </div>
                </div>
                <div class="schedule-card__text">Сильный оффер. Как окупать даже очень дорогой трафик</div>
              </div>
              <div class="schedule-card-empty schedule-disclaimer">
                <div>
                  <img src="./assets/images/clock.svg" alt="disclaimer" />
                  <span>Выступления на малой сцене <br/> начинаются с 11:45</span>
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      10:30
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/numizmatka.png" alt="person" />
                    </div>
                    <span>
                      Ирина Нумизматка
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  15 фишек по Telegram Ads, которые экономят время и снижают стоимость подписчика.
                </div>
              </div>
              <div class="schedule-card-empty">                
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      10:55
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/mladencova.png" alt="person" />
                    </div>
                    <span>
                      Ольга Младенцева
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Кейс ТГ Нескучных финансов. Контент, продвижение, монетизация и факапы
                </div>
              </div>
              <div class="schedule-card-empty">                
              </div>

              <div class="schedule-card">                
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      11:20
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/lukyanov.png" alt="person" />
                    </div>
                    <span>Никита Лукьянов / Тришкин Максим</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/flyer_logo.png" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Мотивированный трафик (Flyer)
                </div>
              </div>
              <div class="schedule-card-empty">                
              </div>

              <div class="schedule-card">                
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      11:45
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/artemiev.png" alt="person" />
                    </div>
                    <span>Олег Артемьев</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/flyer_logo.png" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как набрать 1 млн подписчиков и бесплатно получать трафик в блог
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      11:45
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/kadychkov.png" alt="person" />
                    </div>
                    <span>Кадычков Александр</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/uspeshniy.png" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как Inline-боты сделали контент нативным и вирусным в Telegram
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:10
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/popov.png" alt="person" />
                    </div>
                    <span>
                      Антон Попов
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  От контента к доходу: как РСЯ помогает монетизировать каналы
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:10
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    {{!-- <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/ivanova.png" alt="person" />
                    </div> --}}
                    <span>@mobile</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/icons/clickise-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Тема уточняется
                </div>
              </div>
              
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:40
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/oleg_fakeev.png" alt="person" />
                    </div>
                    <span>Олег Факеев</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/icons/clickise-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как вести крипто-блог в Telegram и продавать на большие чеки
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:40
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/artur_khasanov.png" alt="person" />
                    </div>
                    <span>Артур Хасаханов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/images/logos/skyeng.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как в 3 клика найти креативы конкурентов?
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:00
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/andrey_svintsov.png" alt="person" />
                    </div>
                    <span>
                      Андрей Свинцов
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Будущее регулирования Telegram и других мессенджеров в России
                </div>
              </div>                
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:00
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/levina.png" alt="person" />
                    </div>
                    <span>Ильяна Левина</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/egeland.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как превратить свой Telegram-канал в Netflix с помощью ИИ, чтобы о вас говорил весь рынок?
                </div>
              </div>

              {{!-- <div class="schedule-card no-border">
              </div> --}}
              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>13:30</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/marat_shahabutdinov.png" alt="person" />
                    </div>
                    <span>Марат Шайхетдинов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/images/logos/roistat_logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Тема уточняется</div>
              </div>
              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:30
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/vitaliy_goryunov.png" alt="person" />
                    </div>
                    <span>Виталий Горюнов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/egeland.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Масштабируем бизнес с помощью Telegram и маркетинговой платформы
                </div>
              </div>
            </div>

            <div class="lunch">Перерыв</div>

            <div class="double">
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>15:00</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/lantsov.png" alt="person" />
                    </div>
                    <span>Антон Ланцов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/yandex.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Тема уточняется</div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      15:00
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/masneva.png" alt="person" />
                    </div>
                    <span>Алена Маснева</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/telemetr_white.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Геймификация: как боты делают жизнь бизнеса проще и прибыльнее
                </div>
                
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>15:25</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/kovpak.png" alt="person" />
                    </div>
                    <span>Дмитрий Ковпак</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos-schedule/if-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Тема уточняется</div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      15:25
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/ivanov.png" alt="person" />
                    </div>
                    <span>Антон Иванов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/telemetr_white.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Копирайтинг после смерти копирайтеров
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      15:50
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/feodor_ivanov.png" alt="person" />
                    </div>
                    <span>Феодор Иванов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/otus.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как привлекать подписчиков в 10 раз дешевле рынка?
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      15:50
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/salakhov.png" alt="person" />
                    </div>
                    <span>
                      Салахов Карим
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как делать тысячи интеграций в Телеграм посевах. От хаоса к системе
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      16:15
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/bausheva.png" alt="person" />
                    </div>
                    <span>Ксения Баушева</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos-schedule/moscow-news-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Из онлайна в оффлайн: нестандартный креатив
                </div>
              </div>
              <div class="schedule-card">                
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      16:15
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/ryumin.png" alt="person" />
                    </div>
                    <span>Слава Рюмин</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/tribute.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как за 2 года собрал канал в Телеграм в бизнес-тематике на 50 000 подписчиков без вложений в рекламу
                </div>
              </div>
            </div>

            <div class="double">
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      16:40
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/kolukanov.png" alt="person" />
                    </div>
                    <span>Павел Калюканов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/telepush.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  5 способов увеличить эффективность закупов в Telegram с помощью Telepush
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>16:40</span><p>Малая сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/silaev.png" alt="person" />
                    </div>
                    <span>Владимир Силаев</span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  33 фишки Упаковки телеграм-канала <br/>
                  Почему Упаковка — 80% успеха в Telegram?
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      17:05
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/yaskevic.png" alt="person" />
                    </div>
                    <span>
                      Глеб Яскевич
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  NFT-стикеры: sold-out за 14 минут
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>17:05</span><p>Малая сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/skorodumov.png" alt="person" />
                    </div>
                    <span>Павел Скородумов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/zinatulin-logo.jpg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Как разогнать бюджеты в TG ADS до 17 000 евро в день, удерживая KPI и каким бизнесам это возможно?</div>
                
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      17:30
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/kravchenko.png" alt="person" />
                    </div>
                    <span>Никита Кравченко</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/elama.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Чек-лист для самоаудита Telegram Ads: выжимаем максимум из каждого евро
                </div>
              </div>
              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      17:30
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/petrenchuk.png" alt="person" />
                    </div>
                    <span>Максим Петренчук</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos-schedule/alexey-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Телеграм - платформа для активной отработки антикризисных кампаний
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      18:00
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/lutchak.png" alt="person" />
                    </div>
                    <span>Максим Лутчак</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/kontur.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Тема уточняется
                </div>
              </div>
              <div class="schedule-card-empty">
              </div>

              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      18:30
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/ilyahov.png" alt="person" />
                    </div>
                    <span>Максим Ильяхов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/flyer_logo.png" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Блог как бизнес, блог для личного бренда, блог для души
                </div>
              </div>
            </div>
          </div>
        </div>
        {{!-- 16-е октября --}}
        <div class="schedule__list">
          <div>
            <div class="double">
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>10:05</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/sibiryak.png" alt="person" />
                    </div>
                    <span>Кирилл Сибиряк</span>
                  </div>
                </div>
                <div class="schedule-card__text">Как стартовать новый проект в Telegram и сделать 160 млн за полгода</div>
              </div>
              <div class="schedule-card-empty schedule-disclaimer">
                <div>
                  <img src="./assets/images/clock.svg" alt="disclaimer" />
                  <span>Выступления на малой сцене <br/> начинаются с 11:00</span>
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>10:30</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/matita.png" alt="person" />
                    </div>
                    <span>Егор Матита</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/images/logos/roistat_logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Как качественный продукт позволяет расти быстрее независимо от обстоятельств</div>
              </div>
              <div class="schedule-card-empty">                
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      10:55
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/smetnev.png" alt="person" />
                    </div>
                    <span>
                      Денис Сметнев
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Рефлексия моего опыта построения Skyeng, это меньше про маркетинг и больше как мотивационный спич с рефлексией и моим опытом
                </div>
              </div>
              <div class="schedule-card-empty">
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      11:20
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/samokhvalov.png" alt="person" />
                    </div>
                    <span>
                      Вячеслав Самохвалов
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Посевы vs Telegram Ads: реальный опыт крупнейшей онлайн-школы по подготовке к экзаменам
                </div>
              </div>
              <div class="schedule-card-empty">
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      11:45
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/alexey_uspeshniy.png" alt="person" />
                    </div>
                    <span>Алексей Успешный</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img  class="big-logo" src="./assets/images/logos-schedule/kits-invest-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  В каком направлении лучше развиваться в Telegram в 2025 году: миниапы или каналы
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      11:45
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/korneev_kirill.png" alt="person" />
                    </div>
                    <span>Кирилл Корнеев</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/uspeshniy.png" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Новые способы привлечения трафика в телеграм
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:10
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/ivanova.png" alt="person" />
                    </div>
                    <span>
                      Анна Иванова
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как мы тратим €250 000 в месяц в Telegram Ads и какие фишки реально работают
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:10
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/romanov.png" alt="person" />
                    </div>
                    <span>Владис Романов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/icons/clickise-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Тема уточняется
                </div>
              </div>
              
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:35
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/alexey_doshinski.png" alt="person" />
                    </div>
                    <span>Алексей Дощинский</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="small-logo" src="./assets/icons/clickise-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как повысить эффективность рекламы в Telegram: подбор, аналитика и мониторинг
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      12:35
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/winter_daniil.png" alt="person" />
                    </div>
                    <span>Даниил Винтер</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/telemetr_white.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Telegram Ads для B2B: как находить рабочие связки и привлекать качественную аудиторию
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:00
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/bibik.png" alt="person" />
                    </div>
                    <span>
                      Татьяна Бибик
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Продажи: как построить культуру и отдел
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:00
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/kolmikova.png" alt="person" />
                    </div>
                    <span>
                      Марина Колмыкова
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Контент важнее трафика: как снизить стоимость подписчика в 4 раза и превратить канал в машину продаж
                </div>
              </div>

              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:30
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/barukhova.png" alt="person" />
                    </div>
                    <span>Екатерина Барухова</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/adsgram.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Подписная модель, как основа монетизации
                </div>
              </div>
              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      13:30
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/lvov.png" alt="person" />
                    </div>
                    <span>Александр Львов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/tribute.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Продвижение B2B: разбор кейсов
                </div>
              </div>
            </div>

            <div class="lunch">Перерыв</div>

            <div class="double">
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>15:00</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/zinatullin.png" alt="person" />
                    </div>
                    <span>Феликс Зинатуллин</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/yandex.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Тема уточняется</div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>15:00</span><p>Малая сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/chorapov.png" alt="person" />
                    </div>
                    <span>Андрей Чорапов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/zinatulin-logo.jpg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">«Фабрика посевов: как сделать систему и не сжечь Telegram»</div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>15:25</span><p>Главная сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/amirchanan.png" alt="person" />
                    </div>
                    <span>Денис Амирханян</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos-schedule/if-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">Убойные лайфхаки вовлечения в Telegram</div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>15:25</span><p>Малая сцена</p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/verushkin.png" alt="person" />
                    </div>
                    <span>Семён Верушкин</span>
                  </div>
                </div>
                <div class="schedule-card__text">Как зарабатывать со своего канала или чат бота в TG от 200тр до 700тр плюсом?</div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      15:50
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/zolotov.png" alt="person" />
                    </div>
                    <span>Алексей Золотов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos/otus.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как экспертам и онлайн-школам растить прибыль независимо от кризисов и сезонов
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      15:50
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/sterlin.png" alt="person" />
                    </div>
                    <span>Вадим Стерлин</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos-schedule/alexey-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Инсайты тг-трафика от AdsGram: взгляд рекламной сети
                </div>
              </div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      16:15
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/filimonova.png" alt="person" />
                    </div>
                    <span>Вероника Филимоннова</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img src="./assets/images/logos-schedule/moscow-news-schedule-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как построить систему поиска связок, которая позволяет осваивать от 100.000€ в месяц
                </div>
              </div>
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      16:15
                    </span>
                    <p>
                      Малая сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/pestov.png" alt="person" />
                    </div>
                    <span>Алексей Пестов</span>
                    {{!-- <div class="schedule-card__wrapper">
                      <img class="big-logo" src="./assets/images/logos/monro-art-logo.svg" alt="logo" />
                    </div> --}}
                  </div>
                </div>
                <div class="schedule-card__text">
                  Как получить максимум клиентов из Telegram Ads (150+ кейсов)
                </div>
              </div>
            </div>

            <div class="double">
              {{!-- <div class="schedule-card two-rows second-column"> --}}
              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      16:40
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Панельная дискуссия про будущее Telegram<br/>
                  Антон Горелкин, Георгий Лобушкин, Марат Шайхетдинов, Наиль Байков
                </div>
              </div>
              <div class="schedule-card-empty"></div>

              <div class="schedule-card">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      17:30
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item empty">
                      {{!-- <img src="./assets/images/speakers/alexey_doshinski.png" alt="person" /> --}}
                    </div>
                    <span>
                      TgConf Awards
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Лучшие проекты и спикеры
                </div>
              </div>
              <div class="schedule-card-empty"></div>

              <div class="schedule-card no-border">
                <div class="schedule-card__info">
                  <div class="time">
                    <span>
                      18:00
                    </span>
                    <p>
                      Главная сцена
                    </p>
                  </div>
                  <div class="schedule-card__speaker">
                    <div
                      class="intro__center-people-item">
                      <img src="./assets/images/speakers/artem_lebedev.png" alt="person" />
                    </div>
                    <span>
                      Артемий Лебедев
                    </span>
                  </div>
                </div>
                <div class="schedule-card__text">
                  Финальное выступление
                </div>
              </div>
              <div class="schedule-card-empty"></div>

            </div>
          </div>
        </div>
      </div>
      <div class="intro__center-buy-ticket open-schedule">
        Вся программа
      </div>
    </div>
  </div>
</section>

<section class="date">
  <div class="container">
    <h2 class="date__title">
      Как это было 20 марта
    </h2>
  </div>
  <div class="date__tape js-tape-loop" data-duplicate="true" data-speed=".2">
    <img loading="lazy" src="./assets/images/date-one.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-two.webp" class="contain" alt="image" />
    <img loading="lazy" src="./assets/images/date-three.webp" alt="image" />
  </div>
  <div class="date__tape js-tape-loop" data-duplicate="true" data-speed=".2" data-reversed="true">
    <img loading="lazy" src="./assets/images/date-four.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-five.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-six.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-seven.webp" alt="image" />
  </div>
  <div class="date__tape js-tape-loop" data-duplicate="true" data-speed=".2">
    <img loading="lazy" src="./assets/images/date-eight.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-nine.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-ten.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-eleven.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-twelve.webp" alt="image" />
  </div>
</section>

<section class="future" id="future">
  <div class="future__blur"></div>
  <img class="future__figure" src="./assets/images/figure-five.png" alt="figure">
  <div class="container">
    <h2 class="future__title">
      <span>
        Что будет
      </span>
      <span>
        на конференции?
      </span>
    </h2>
    <div class="swiper future__slider">
      <div class="swiper-wrapper future__cards">
        <div class="swiper-slide future__item-card">
          <div class="future__item-card-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M5 12H12M12 12H19M12 12V5M12 12V19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span>Нетворкинг</span>
          </div>
          <p>
            Уникальные возможности нетворкинга с&nbsp;коллегами
            по&nbsp;цеху для обмена опытом
            и&nbsp;знаниями в&nbsp;формальной
            и&nbsp;неформальной обстановке. Самые важные инсайты обсуждаются именно
            в&nbsp;кулуарах конференций
            и&nbsp;форумов
          </p>
          <img src="./assets/images/future-one.png" alt="image" />
        </div>
        <div class="swiper-slide future__item-card">
          <div class="future__item-card-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M5 12H12M12 12H19M12 12V5M12 12V19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span>Выставка</span>
          </div>
          <p>
            Самая крупная выставка среди компаний, специализирующимися в&nbsp;работе с&nbsp;Telegram: Рекламные
            агентства,
            партнерские сети, сервисы, источники трафика, рекламодатели и&nbsp;крипто-проекты на&nbsp;TON
          </p>
          <img src="./assets/images/future-two.png" alt="image" />
        </div>
        <div class="swiper-slide future__item-card">
          <div class="future__item-card-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M5 12H12M12 12H19M12 12V5M12 12V19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span>Невероятное Afterparty</span>
          </div>
          <p>
            Мы&nbsp;устроим невероятную вечеринку для всех представителей VIP-билетов в&nbsp;популярном клубе Москвы
            до&nbsp;самого утра со&nbsp;звездным выступлением
          </p>
          <img src="./assets/images/future-three.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tickets" class="tickets">
  <img src="./assets/images/figure-six.png" alt="figure" class="tickets__figure" />
  <div class="container">
    <div class="tickets__title">
      БИЛЕТЫ
    </div>
    <div class="swiper tickets__slider">
      <div class="swiper-wrapper tickets__cards">
        <div class="swiper-slide tickets__card">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg">
                <svg>
                  <use xlink:href="#quill"></use>
                </svg>
              </div>
            </div>
            <div class="tickets__card-tariff">
              Lite
            </div>
          </div>
          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">
                4 990 ₽
              </span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">с 11 октября</time>
                <span class="tickets__card-after-price">8 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Посещение конференции</li>
              <li class="tickets__card-list-item">Посещение выставки</li>
              <li class="tickets__card-list-item">Доступ к официальному нетворкинг чату</li>
            </ul>
            <div class="warning-info">
              Данный тип билета не гарантирует посадочное место
            </div>
          </div>
        </div>

        <div class="swiper-slide tickets__card">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg tickets__card-header-svg--blue">
                <svg>
                  <use xlink:href="#star"></use>
                </svg>
              </div>
            </div>
            <div class="tickets__card-tariff">Standard</div>
          </div>
          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">8 990 ₽</span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">с 11 октября</time>
                <span class="tickets__card-after-price">14 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Все опции билета «Lite»</li>
              <li class="tickets__card-list-item">Записи выступлений</li>
              <li class="tickets__card-list-item">Доступ ко всем материалам</li>
              <li class="tickets__card-list-item">Гарантированное место в&nbsp;залах</li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide tickets__card tickets__card--blue">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg tickets__card-header-svg--white">
                <svg>
                  <use xlink:href="#bag"></use>
                </svg>
              </div>
              <span>
                самый выгодный
              </span>
            </div>
            <div class="tickets__card-tariff">Business</div>
          </div>
          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">23 490 ₽</span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">с 11 октября</time>
                <span class="tickets__card-after-price">31 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars-blue"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Все опции билета «Standard»</li>
              <li class="tickets__card-list-item">
                Участие в&nbsp;официальной Аfterparty 16&nbsp;октября (Включены горячие блюда, алкогольные
                и&nbsp;безалкогольные напитки)
              </li>
            </ul>
          </div>
          <div class="tickets__card-content-image">

          </div>
        </div>

        <div class="swiper-slide tickets__card">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg tickets__card-header-svg--orange">
                <svg>
                  <use xlink:href="#crown"></use>
                </svg>
              </div>
            </div>
            <div class="tickets__card-tariff">
              VIP
            </div>
          </div>

          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">36 490 ₽</span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">с 11 октября</time>
                <span class="tickets__card-after-price">45 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Все опции билета «Business»</li>
              <li class="tickets__card-list-item">VIP-регистрация</li>
              <li class="tickets__card-list-item">1-2 ряды в залах выступлений</li>
              <li class="tickets__card-list-item">VIP-зона с премиум едой, напитками и нетворкингом</li>
              <li class="tickets__card-list-item">
                Выделенная VIP-зона
                на&nbsp;Afterparty с&nbsp;эксклюзивной едой и&nbsp;напитками
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="organisers">
  <div class="container">
    <h2 class="organisers__title">
      Организатор форума
    </h2>
    <p class="organisers__text">
      Агентство по&nbsp;эффективному запуску рекламных кампаний в&nbsp;Telegram Ads
    </p>
    <div class="organisers__cards">
      <a target="_blank" rel="noopener noreferrer" href="https://clickise.org" class="organisers__card">
        <svg>
          <use xlink:href="#clickise-logo"></use>
        </svg>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://tgbooster.ru" class="organisers__card">
        <svg>
          <use xlink:href="#tg-boost-logo"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

{{!-- <section class="partners">
  <img class="partners__figure" src="./assets/images/figure-two.png" alt="figure-two">
  <div class="container">
    <h2 class="partners__title">
      Партнеры
    </h2>
    <div class="partners__cards">
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link">
        <svg>
          <use xlink:href="#stars"></use>
        </svg>
        Стать партнером
      </a>
    </div>
    <button class="partners__button" type="button">
      Все партнеры
    </button>
  </div>
</section> --}}

<section id="place" class="place">
  <div class="container">
    <div class="place__badge">
      <svg>
        <use xlink:href="#map-orange-icon"></use>
      </svg>
      МТС Live Холл <span class="orange">/</span> ш. Энтузиастов, 5, стр. 2, Москва
    </div>
    <h2 class="place__title">
      Место проведения
    </h2>
    <div class="place__main">
      <div class="map js-map" id="map" data-json="./assets/json/map.json" data-zoom="16"
        data-icon="./assets/icons/map-icon.svg" data-center="55.749461, 37.696446">
      </div>
      <div class="place__detail">
        <div class="place__detail-overlay"></div>
        <svg class="place__detail-decoration">
          <use xlink:href="#decoration"></use>
        </svg>
        <span class="place__detail-name">
          Конференция на 7000 м2
        </span>
        <ul class="place__detail-list">
          <li class="place__detail-list-item">4000+ участников<br>максимально причастных к Telegram</li>
          <li class="place__detail-list-item">зона выставки<br>на 50+ стендов</li>
          <li class="place__detail-list-item">зона для VIP-участников<br>и спикеров</li>
          <li class="place__detail-list-item">зона нетворкинга и кофе-брейка<br>для всех участников</li>
        </ul>
      </div>
    </div>
</section>

<section class="afterparty">
  <div class="afterparty__overlay"></div>
  <div class="container">
    <div class="place__badge">
      <svg>
        <use xlink:href="#map-white-icon"></use>
      </svg>
      LOFT HALL#3 (ул. Ленинская Слобода, д.26, стр.15)
    </div>
    <time class="afterparty__time">
      <span class="orange">16 октября</span> в 21:00
    </time>
    <h2 class="afterparty__title">
      Легендарное<br>Telegram Afterparty
    </h2>
    <a href="#to-tickets" class="afterparty__button">
      <svg>
        <use xlink:href="#stars"></use>
      </svg>
      Купить билет
    </a>
  </div>
  <img src="./assets/images/vip_ticket.png" alt="vip" class="afterparty__ticket" />
</section>

<section class="info">
  <div class="info__blur"></div>
  <img src="./assets/images/figure-seven.png" alt="figure" class="info__figure" />
  <div class="container">
    <div class="info__cards">
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-one.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          500+<br> посетителей
        </span>
      </div>
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-two.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          Яркое шоу<br>до утра
        </span>
      </div>
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-three.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          Безлимитный бар<br>и вкусные закуски
        </span>
      </div>
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-four.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          Хедлайнер Afterparty - группа Банд’Эрос
        </span>
      </div>
    </div>
  </div>
</section>
{{/content}}
{{/extend}}
