{{#extend "layout"}}
{{#content "main"}}
<section class="intro">
  <div class="intro__overlay"></div>
  <div class="container">
    <div class="intro__upper">
      <span class="intro__upper-place">МОСКВА, МТС Live Hall</span>
      <time datetime="20025-10-20" class="intro__upper-date">15-16 октября <span class="orange">2025</span></time>
    </div>
    <div class="intro__center">
      <ul class="intro__center-tags">
        <li class="intro__center-tags-item">#Telegram Ads</li>
        <li class="intro__center-tags-item">#Нативная реклама</li>
        <li class="intro__center-tags-item">#Продажи</li>
        <li class="intro__center-tags-item">#Web3 на Ton</li>
        <li class="intro__center-tags-item">#Мини-приложения</li>
      </ul>
      <div class="intro__center-title-wrapper">
        <h1 class="intro__center-title">
          крупнейшая конференция
          по&nbsp;трафику и&nbsp;продажам
          в&nbsp;Telegram
        </h1>
        <div class="intro__center-people-list">
          <button type="button" data-video="./assets/video/video_one.mp4" data-fancyspeaker data-src="#speaker-video"
            class="intro__center-people-item">
            <img src="./assets/images/speaker-ten.png" alt="person" />
          </button>
          <button type="button" data-video="./assets/video/video_two.mp4" data-fancyspeaker data-src="#speaker-video"
            class="intro__center-people-item">
            <img src="./assets/images/speaker-two.png" alt="person" />
          </button>
          <button type="button" data-video="./assets/video/video_three.mp4" data-fancyspeaker data-src="#speaker-video"
            class="intro__center-people-item">
            <img src="./assets/images/speaker-one.png" alt="person" />
          </button>
          <li class="intro__center-people-item">
            <span>70+</span>
          </li>
        </div>
      </div>
      <a href="#to-tickets" class="intro__center-buy-ticket">
        <svg>
          <use xlink:href="#stars"></use>
        </svg>
        Приобрести билет
      </a>
    </div>
    <div class="intro__bottom">
      <ul class="intro__bottom-info-list">
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">4000+</span>
          <span class="intro__bottom-info-item-text">участников</span>
        </li>
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">70+</span>
          <span class="intro__bottom-info-item-text">спикеров</span>
        </li>
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">100+</span>
          <span class="intro__bottom-info-item-text">компаний</span>
        </li>
        <li class="intro__bottom-info-item">
          <span class="intro__bottom-info-item-number">Afterparty</span>
          <span class="intro__bottom-info-item-text">для VIP</span>
        </li>
      </ul>
    </div>
  </div>
  <img src="./assets/images/figure-one.png" alt="figure-one" class="intro__figure">
</section>

<section class="about">
  <img class="about__figure" src="./assets/images/figure-two.png" alt="figure-two">
  <div class="container">
    <h2 class="about__title">
      О конференции
    </h2>
    <p class="about__text">
      Для тех, кто хочет использовать возможности Telegram на&nbsp;максимум для своего бизнеса и&nbsp;не&nbsp;только
    </p>
    <ul class="about__list-tags">
      <li class="about__list-tag-item">
        Предприниматели
      </li>
      <li class="about__list-tag-item">
        Таргетологи
      </li>
      <li class="about__list-tag-item">
        Арбитражники
      </li>
      <li class="about__list-tag-item">
        Маркетологи
      </li>
      <li class="about__list-tag-item">
        Криптаны
      </li>
      <li class="about__list-tag-item">
        СМО
      </li>
      <li class="about__list-tag-item">
        Инфобизнесмены
      </li>
    </ul>
  </div>
</section>

<section class="speakers" id="speakers">
  <div class="container">
    <div class="speakers__header">
      <h2 class="speakers__title">
        спикеры
      </h2>
      <p class="speakers__text">
        Спикеры конференции&nbsp;&mdash; это практикующие специалисты,
        основатели проектов и&nbsp;лидеры мнений, чей профессионализм
        подтверждён программным комитетом TgConf.
      </p>
    </div>
    <div class="speakers__slider">
      <div class="speakers__cards">

        {{#each speakers}}
        <button type="button" data-fancybox data-src="#{{this.id}}"
          class="speakers__card {{replace this.id 'speaker-' ''}}">
          <div class="speakers__card-main{{#if this.color}} {{this.color}}{{/if}}">
            <img loading="lazy" src="{{this.image}}" alt="{{this.name}}" class="speakers__card-img" />
            {{#if this.logos}}
            <div class="speakers__logos">
              <div class="speakers__logo-wrapper
                {{#if this.wideLogo}}speakers__logo-wrapper--wide{{/if}}
                {{#if this.ultraWideLogo}}speakers__logo-wrapper--ultra-wide{{/if}}
                {{#if this.highLogo}}speakers__logo-wrapper--high{{/if}}
                ">
                {{#each this.logos}}
                <div class="speakers__logo {{ this.src }}" style="background-image: url({{ this.src }});"
                  title="{{this.alt}}"></div>
                {{/each}}
              </div>
            </div>
            {{/if}}
          </div>
          <span class="speakers__card__name">
            {{splitFirstName this.name}} <br> {{splitLastName this.name}}
          </span>
          <div class="speakers__content-wrapper">
            <p class="speakers__card__description">
              {{this.position}}
            </p>
            <div class="speakers__open-modal-button"></div>
          </div>
        </button>
        {{/each}}
      </div>
    </div>
    <div class="speakers__pagination"></div>
  </div>
</section>

<section class="date">
  <div class="container">
    <h2 class="date__title">
      Как это было 20 марта
    </h2>
  </div>
  <div class="date__tape js-tape-loop" data-duplicate="true" data-speed=".2">
    <img loading="lazy" src="./assets/images/date-one.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-two.webp" class="contain" alt="image" />
    <img loading="lazy" src="./assets/images/date-three.webp" alt="image" />
  </div>
  <div class="date__tape js-tape-loop" data-duplicate="true" data-speed=".2" data-reversed="true">
    <img loading="lazy" src="./assets/images/date-four.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-five.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-six.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-seven.webp" alt="image" />
  </div>
  <div class="date__tape js-tape-loop" data-duplicate="true" data-speed=".2">
    <img loading="lazy" src="./assets/images/date-eight.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-nine.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-ten.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-eleven.webp" alt="image" />
    <img loading="lazy" src="./assets/images/date-twelve.webp" alt="image" />
  </div>
</section>

<section class="future" id="future">
  <div class="future__blur"></div>
  <img class="future__figure" src="./assets/images/figure-five.png" alt="figure">
  <div class="container">
    <h2 class="future__title">
      <span>
        Что будет
      </span>
      <span>
        на конференции?
      </span>
    </h2>
    <div class="swiper future__slider">
      <div class="swiper-wrapper future__cards">
        <div class="swiper-slide future__item-card">
          <div class="future__item-card-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M5 12H12M12 12H19M12 12V5M12 12V19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span>Нетворкинг</span>
          </div>
          <p>
            Уникальные возможности нетворкинга с&nbsp;коллегами
            по&nbsp;цеху для обмена опытом
            и&nbsp;знаниями в&nbsp;формальной
            и&nbsp;неформальной обстановке. Самые важные инсайты обсуждаются именно
            в&nbsp;кулуарах конференций
            и&nbsp;форумов
          </p>
          <img src="./assets/images/future-one.png" alt="image" />
        </div>
        <div class="swiper-slide future__item-card">
          <div class="future__item-card-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M5 12H12M12 12H19M12 12V5M12 12V19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span>Выставка</span>
          </div>
          <p>
            Самая крупная выставка среди компаний, специализирующимися в&nbsp;работе с&nbsp;Telegram: Рекламные
            агентства,
            партнерские сети, сервисы, источники трафика, рекламодатели и&nbsp;крипто-проекты на&nbsp;TON
          </p>
          <img src="./assets/images/future-two.png" alt="image" />
        </div>
        <div class="swiper-slide future__item-card">
          <div class="future__item-card-header">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path d="M5 12H12M12 12H19M12 12V5M12 12V19" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            <span>Невероятное Afterparty</span>
          </div>
          <p>
            Мы&nbsp;устроим невероятную вечеринку для всех представителей VIP-билетов в&nbsp;популярном клубе Москвы
            до&nbsp;самого утра со&nbsp;звездным выступлением
          </p>
          <img src="./assets/images/future-three.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tickets" class="tickets">
  <img src="./assets/images/figure-six.png" alt="figure" class="tickets__figure" />
  <div class="container">
    <div class="tickets__title">
      БИЛЕТЫ
    </div>
    <div class="swiper tickets__slider">
      <div class="swiper-wrapper tickets__cards">
        <div class="swiper-slide tickets__card">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg">
                <svg>
                  <use xlink:href="#quill"></use>
                </svg>
              </div>
            </div>
            <div class="tickets__card-tariff">
              Lite
            </div>
          </div>
          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">
                1 990 ₽
              </span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">12 сентября</time>
                <span class="tickets__card-after-price">4 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Посещение конференции</li>
              <li class="tickets__card-list-item">Посещение выставки</li>
              <li class="tickets__card-list-item">Доступ к официальному нетворкинг чату</li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide tickets__card">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg tickets__card-header-svg--blue">
                <svg>
                  <use xlink:href="#star"></use>
                </svg>
              </div>
            </div>
            <div class="tickets__card-tariff">Standard</div>
          </div>
          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">6 990 ₽</span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">12 сентября</time>
                <span class="tickets__card-after-price">10 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Все опции билета «Lite»</li>
              <li class="tickets__card-list-item">Записи выступлений</li>
              <li class="tickets__card-list-item">Доступ ко всем материалам</li>
              <li class="tickets__card-list-item">Гарантированное место в&nbsp;залах</li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide tickets__card tickets__card--blue">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg tickets__card-header-svg--white">
                <svg>
                  <use xlink:href="#bag"></use>
                </svg>
              </div>
              <span>
                самый выгодный
              </span>
            </div>
            <div class="tickets__card-tariff">Business</div>
          </div>
          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">19 990 ₽</span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">12 сентября</time>
                <span class="tickets__card-after-price">29 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars-blue"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Все опции билета «Standard»</li>
              <li class="tickets__card-list-item">
                Участие в&nbsp;официальной Аfterparty 15-16&nbsp;октября (Включены горячие блюда, алкогольные
                и&nbsp;безалкогольные напитки)
              </li>
            </ul>
          </div>
        </div>

        <div class="swiper-slide tickets__card">
          <div class="tickets__card-header">
            <div class="tickets__card-header-top">
              <div class="tickets__card-header-svg tickets__card-header-svg--orange">
                <svg>
                  <use xlink:href="#crown"></use>
                </svg>
              </div>
            </div>
            <div class="tickets__card-tariff">
              VIP
            </div>
          </div>

          <div class="tickets__card-main">
            <div class="tickets__card-main-price-wrapper">
              <span class="tickets__card-base-price">31 990 ₽</span>
              <div class="tickets__card-after-price-wrapper">
                <time class="tickets__card-after-price-time">12 сентября</time>
                <span class="tickets__card-after-price">37 990 ₽</span>
              </div>
            </div>
            <a href="https://qtickets.ru/event/158282" type="button" class="tickets__card-buy-ticket-button">
              <svg>
                <use xlink:href="#stars"></use>
              </svg>
              Приобрести билет
            </a>
            <ul class="tickets__card-list-info">
              <li class="tickets__card-list-item">Все опции билета «Business»</li>
              <li class="tickets__card-list-item">VIP-регистрация</li>
              <li class="tickets__card-list-item">1-2 ряды в залах выступлений</li>
              <li class="tickets__card-list-item">VIP-зона с премиум едой, напитками и нетворкингом</li>
              <li class="tickets__card-list-item">
                Выделенная VIP-зона
                на&nbsp;Afterparty с&nbsp;эксклюзивной едой и&nbsp;напитками
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="organisers">
  <div class="container">
    <h2 class="organisers__title">
      Организатор форума
    </h2>
    <p class="organisers__text">
      Агентство по&nbsp;эффективному запуску рекламных кампаний в&nbsp;Telegram Ads
    </p>
    <div class="organisers__cards">
      <a target="_blank" rel="noopener noreferrer" href="https://clickise.org" class="organisers__card">
        <svg>
          <use xlink:href="#clickise-logo"></use>
        </svg>
      </a>
      <a target="_blank" rel="noopener noreferrer" href="https://tgbooster.ru" class="organisers__card">
        <svg>
          <use xlink:href="#tg-boost-logo"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

{{!-- <section class="partners">
  <img class="partners__figure" src="./assets/images/figure-two.png" alt="figure-two">
  <div class="container">
    <h2 class="partners__title">
      Партнеры
    </h2>
    <div class="partners__cards">
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link"></a>
      <a href="#" class="partners__card-link">
        <svg>
          <use xlink:href="#stars"></use>
        </svg>
        Стать партнером
      </a>
    </div>
    <button class="partners__button" type="button">
      Все партнеры
    </button>
  </div>
</section> --}}

<section id="place" class="place">
  <div class="container">
    <div class="place__badge">
      <svg>
        <use xlink:href="#map-orange-icon"></use>
      </svg>
      МТС Live Hall <span class="orange">/</span> ш. Энтузиастов, 5, стр. 2, Москва
    </div>
    <h2 class="place__title">
      Место проведения
    </h2>
    <div class="place__main">
      <div class="map js-map" id="map" data-json="./assets/json/map.json" data-zoom="16"
        data-icon="./assets/icons/map-icon.svg" data-center="55.749461, 37.696446">
      </div>
      <div class="place__detail">
        <div class="place__detail-overlay"></div>
        <svg class="place__detail-decoration">
          <use xlink:href="#decoration"></use>
        </svg>
        <span class="place__detail-name">
          Конференция на 7000 м2
        </span>
        <ul class="place__detail-list">
          <li class="place__detail-list-item">4000+ участников<br>максимально причастных к Telegram</li>
          <li class="place__detail-list-item">зона выставки<br>на 50+ стендов</li>
          <li class="place__detail-list-item">зона для VIP-участников<br>и спикеров</li>
          <li class="place__detail-list-item">зона нетворкинга и кофе-брейка<br>для всех участников</li>
        </ul>
      </div>
    </div>
</section>

<section class="afterparty">
  <div class="afterparty__overlay"></div>
  <div class="container">
    <time class="afterparty__time">
      <span class="orange">16 октября</span> в 21:00
    </time>
    <h2 class="afterparty__title">
      Легендарное<br>Telegram Afterparty
    </h2>
    <a href="#to-tickets" class="afterparty__button">
      <svg>
        <use xlink:href="#stars"></use>
      </svg>
      Купить билет
    </a>
  </div>
</section>

<section class="info">
  <div class="info__blur"></div>
  <img src="./assets/images/figure-seven.png" alt="figure" class="info__figure" />
  <div class="container">
    <div class="info__cards">
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-one.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          1000+<br> посетителей
        </span>
      </div>
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-two.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          Яркое шоу<br>до утра
        </span>
      </div>
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-three.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          Безлимитный бар<br>и вкусные закуски
        </span>
      </div>
      <div class="info__card">
        <img loading="lazy" src="./assets/images/info-four.webp" alt="image" class="info__card-img">
        <span class="info__card-text">
          Хедлайнер, который<br>у всех на слуху
        </span>
      </div>
    </div>
  </div>
</section>
{{/content}}
{{/extend}}
