{{#each speakers}}
<div class="tg-modal-config tg-modal-config-user" id="{{this.id}}" style="display:none;">
  <div class="tg-modal-config-user__header">
    <img src="{{this.image}}" alt="speaker-img" loading="lazy" class="tg-modal-config-user__img"/>
    <span>
      {{splitFirstName this.name}} <br> {{splitLastName this.name}}
    </span>
  </div>
  <p class="tg-modal-config-user__text">
    {{this.position}}
  </p>
</div>
{{/each}} 


<div class="tg-modal-config tg-modal-partners" id="modal-partners" style="display:none;">
  <h2 class="tg-modal-partners__title">
    Станьте партнером конференции
  </h2>
  <form novalidate data-need-validation class="tg-modal-partners__form">
    <label class="tg-modal-partners__form-control" for="name">
      <input placeholder="Ваше имя" name="name" type="text" class="tg-modal-partners__form-input" data-parsley-minlength="2" required="true"/>
    </label>

     <label class="tg-modal-partners__form-control" for="phone">
      <input placeholder="Номер телефона" name="phone" type="phone" class="js-phone-input tg-modal-partners__form-input" autocomplete="off" data-parsley-phone required="true"/>
    </label>

    <label class="tg-modal-partners__form-control" for="telegram">
      <input placeholder="telegram" name="telegram" type="text" class="tg-modal-partners__form-input" required="true"/>
    </label>

    <label class="tg-modal-partners__form-control" for="company">
      <input placeholder="Компания" name="company" type="text" class="tg-modal-partners__form-input"/>
    </label>

    <label class="tg-modal-partners__form-control-checkbox" for="policy">
      <div class="tg-modal-partners__checkmark-wrapper">
        <input class="tg-modal-partners__checkbox" name="policy" type="checkbox" required="true"/>
      </div>
      <p class="tg-modal-partners__form-policy">
        Я согласен(-на) с политикой конфиденциальности.
      </p>
    </label>

    <button type="button" class="tg-modal-partners__button-submit" onclick="submitForm()">
      Оставить заявку
    </button>
  </form>

  <div class="tg-modal-config tg-modal-partners" id="modal-success" style="display:none;">
    <h2 class="tg-modal-partners__title">Спасибо за вашу заявку!</h2>
    <p class="tg-modal-partners__form-policy">Ваше сообщение успешно отправлено.</p>
  </div>
</div>

<div class="tg-modal-config-video" id="speaker-video" style="display:none;">
  <div class="video-container"></div>
</div>
